# .gitignore for QWebService project
# Tells git to ignore build-related files.
QWebService_main/QWebService-build-desktop/
QWebService_main/testWsdl-build-desktop/
QWebService_main/QWebService/*.pro.user
*~